

body {
	background: blue;
	color: white;
	font-size: 18px;
}
h1{
	color: yellow;
}
h2{
	color: orange;
}
p.file{
	font-weight: 140%;
	font-family: monospace;
	}
p.text{
	font-size: 16px;
	font-family: arial;
}
blockquote{
	background: url('http://vignette3.wikia.nocookie.net/prenistoricpark/images/3/3e/Astraspis_desiderata.gif/revision/latest?cb=20140126180136&path-prefix=ru');
	background-repeat: no-repeat;
	background-position: 15%;
}