

body {
	background: blue;
	color: white;
	font-size: 18px;
}
h1.real{
	color: yellow;
	font-style: strong;
}
h2.dream{
	color: orange;
	font-style: strong;
}
p.real{
	font-weight: normal;
	font-family: monospace;
	}
p.dream{
	font-size: 16px;
	font-family: arial;
}
blockquote{
	background: url('http://vignette3.wikia.nocookie.net/prenistoricpark/images/3/3e/Astraspis_desiderata.gif/revision/latest?cb=20140126180136&path-prefix=ru');
	background-repeat: no-repeat;
	background-position: 80px;
}