

body {
	background: blue;
	color: white;
	font-size: 18px;
}
h1{
	color: yellow;
}
h2{
	color: orange;
}
p.file{
	font-weight: 140%;
	font-family: monospace;
	}
p.text{
	font-size: 16px;
	font-family: arial;
}